.fases{
    font-size: 25px;
    text-align: center;
    margin: 50px;

}
h3 li{
    margin: 15px;
}

blockquote{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px inherit;
    text-align: center;
    margin-bottom: 30px;
}
.cita{
    margin: 0 15% 0 15%;
}
cite{
    display: flex;
    justify-content: center;
    margin: 5%;
}
.cierre{
   display: flex;
   justify-content: end;
   align-items:end;
   margin: 3px;
}

@media (min-width: 480px){
    
}